/*  CSS cấu hình chung */
:root {
    --primary-color: #ee4d2d;
    --primary-color-rgba: rgba(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #9b8c8c33;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /*  mặc đinh font-size trình duyệt : 16px */
    font-size: 62.5%; /* 62.5% - font-size = 10px ; 100% =16px*/
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.667%;
}
.grid__column-10 {
    width: 83.334%;
}

.grid__column-2-4 {
    padding-left: 6px;
    padding-right: 6px;
    width: 20%;
    box-sizing: border-box;
}


/* Annimation */
@keyframes fadeIn { /* tạo chuyển động*/
   from {               /* bắt dầu từ đầu*/
        opacity: 0;
   }
   to {                 /*kết thúc*/
        opacity: 1;
   }
}

.btn {
    height: 34px;
    min-width: 124px;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}
.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.btn.btn--primary { /* việt liên nhau để CSS cho element có cả 2 class mới dc*/
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disable {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}
.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
}